<nav>
  <a [routerLink]="['/example-a']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    Component & Directive
  </a>

  <a [routerLink]="['/example-b']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    Service based
  </a>

  <a [routerLink]="['/example-c']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    3rd party components
  </a>

  <a [routerLink]="['/example-d']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    Input, Output and EventEmitter
  </a>
</nav>
