<p-checkbox label="Service based" [(ngModel)]="show0" binary="true"></p-checkbox>
<div *ngIf='show0'>
  <div *ngFor='let car of cars'>
    <p> {{car.regnr}} {{car.brand}} {{car.price}} </p>
  </div>
</div>


<hr>


<p-checkbox label="Service based with car-list.component.ts" [(ngModel)]="show1" binary="true"></p-checkbox>
<div *ngIf='show1'>
  <car-list [cars]='carService.cars'></car-list>
</div>


