
<h2>Service based car table with PrimeNG</h2>

<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
</div>
<p-dataTable [value]="cars" [rows]="2" [paginator]="true" [globalFilter]="gb">
  <header>List of Cars</header>
  <p-column field="regnr" header="Regnumber (startsWith)" [filter]="true"></p-column>
  <p-column field="brand" header="Brand (startsWith)" [filter]="true"></p-column>
  <p-column field="price" header="Price" [filter]="true" ></p-column>
</p-dataTable>
