<h2>Components and Directives</h2>


<p-checkbox label="Plain" [(ngModel)]="show0" binary="true"></p-checkbox>
<div *ngIf='show0'>
  <div *ngFor='let car of cars'>
    <p> {{car.brand }} {{car.price }} </p>
  </div>
</div>

<hr>

<p-checkbox label="Highlighted" [(ngModel)]="show1" binary="true"></p-checkbox>
<div *ngIf='show1'>
  <div *ngFor='let car of cars'>
    <p highlighter1> {{car.brand}} {{car.price}} </p>
  </div>
</div>


<hr>


<p-checkbox label="Highlight on hover" [(ngModel)]="show2" binary="true"></p-checkbox>
<div *ngIf='show2'>
  <div *ngFor='let car of cars'>
    <p highlighter2> {{car.brand}} {{car.price}} </p>
  </div>
</div>


<hr>


<p-checkbox label="Show hover with input color" [(ngModel)]="show3" binary="true"></p-checkbox>
<div *ngIf='show3'>
  <p highlighter3 [color]="'red'"> Highlight  </p>
</div>

