<h2>Input, Output and Eventemitter</h2>

<label>Set target color to
  <input [(ngModel)]="userColor" type="text">
</label>

<hr>

<child [color]="userColor" (onEmitColor)="setTargetColor($event)"></child>

<hr>

<h1 dynamic-highlight [color]="target_color">Target will be highlighted dynamically </h1>


